<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon1.ico" type="image/x-icon">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="A Charity Site">
    <meta name="keywords" content="Non-profit Organization">
    <meta name="author" content="Nasrina Bari">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jsBundle")

    <script type="text/javascript">if ($(window).width() > 1024) { document.write("<" + "script src='/Scripts/jquery.preloader.js'></" + "script>"); }	</script>

    <script>
        jQuery(window).load(function () {
            $x = $(window).width();
            if ($x > 1024) {
                jQuery("#content .row").preloader();
            }

            jQuery('.magnifier').touchTouch();
            jQuery('.spinner').animate({ 'opacity': 0 }, 1000, 'easeOutCubic', function () { jQuery(this).css('display', 'none') });
        });
    </script>

    <!--[if lt IE 8]>
  		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
 	<![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->
</head>
<body>
    <!--============================== header =================================-->
    <div id="panel">
        <div class="navbar navbar-inverse navbar-fixed-top" id="advanced" style="margin-top: 0px; position: relative;">
            <header>
                <div class="container clearfix">
                    <div class="row">
                        <div class="span12">
                            <div class="navbar navbar_">
                                <div class="container">
                                    <h1 class="brand brand_">
                                        @*<a href="/">
                                            <img alt="" src="img/logo.gif">
                                        </a>*@
                                        
                                        @Html.ActionLink("<h1>abcd></h1>", "Index", "Home")

                                    </h1>
                                    <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span></a>
                                    <div class="nav-collapse nav-collapse_  collapse">
                                        <ul class="nav sf-menu">
                                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>                                            
                                            <li>@Html.ActionLink("Mission", "Mission", "Home")</li>
                                            <li class="sub-menu">@Html.ActionLink("FAQs", "AboutUs", "Home")</li>
                                            <li>@Html.ActionLink("Donate", "Folio", "Home")</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="spinner"></div>
    </div>
    <!--============================== end header =================================-->
    <div class="bg-content">
        @RenderBody()
    </div>
    <!--============================== footer =================================-->
    <footer>
        <div class="container clearfix">
            <ul class="list-social pull-right">
                <li><a class="icon-2" href="#"></a></li>
                <li><a class="icon-3" href="https://twitter.com/oswt"></a></li>
                <li><a class="icon-4" href="#"></a></li>
                <li><a class="icon-1" href="#"></a></li>
            </ul>
            <div class="privacy pull-left">
                Website designed by <a href="http://www.nasrinabari.com?aff=awdawd" target="_blank" rel="nofollow">www.nasrinabari.com</a><br />
            </div>
    </footer>
</body>
</html>
